# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment / secrets
.env
*.env
.streamlit/secrets.toml

# OS files
Thumbs.db
.DS_Store
.pytest_cache/
